@font-face {
  font-family: "iconfont"; /* Project id 4569279 */
  src: url('iconfont.woff2?t=1717370970669') format('woff2'),
       url('iconfont.woff?t=1717370970669') format('woff'),
       url('iconfont.ttf?t=1717370970669') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paiming:before {
  content: "\e600";
}

.icon-daochu1024-35:before {
  content: "\e618";
}

.icon-daochu1024-34:before {
  content: "\e619";
}

.icon-huomiao-mianxing:before {
  content: "\e63c";
}

.icon-close:before {
  content: "\e603";
}

.icon-chevronUp:before {
  content: "\e604";
}

.icon-closeCircle:before {
  content: "\e605";
}

.icon-ellipsis:before {
  content: "\e606";
}

.icon-email:before {
  content: "\e607";
}

.icon-chat:before {
  content: "\e608";
}

.icon-menuFold:before {
  content: "\e609";
}

.icon-chevronDown:before {
  content: "\e60a";
}

.icon-data:before {
  content: "\e60b";
}

.icon-menuUnfold:before {
  content: "\e60c";
}

.icon-link:before {
  content: "\e60d";
}

.icon-to:before {
  content: "\e60e";
}

.icon-prev:before {
  content: "\e60f";
}

.icon-search:before {
  content: "\e610";
}

.icon-plus:before {
  content: "\e611";
}

.icon-upLoad:before {
  content: "\e612";
}

.icon-question:before {
  content: "\e613";
}

.icon-leasedProperty:before {
  content: "\e614";
}

.icon-aircraft:before {
  content: "\e615";
}

